.intro {
  color: white;
  font-size: 2em;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

a {
  color: white;
  text-decoration: none;
}

.pageControl {
  display: flex;
  padding: 5px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}
.pageControl h4 {
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
}
.pageControl button {
  margin: 0 1em;
  padding: 0.5em 1em;
  height: 100%;
}
.orderText {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.orderText span {
  text-align: center;
  justify-content: center;
  color: white;
  width: 75%;
}

.pictureContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}

.pictureContainer .frame {
  width: 20em;
  color: white;
  text-align: center;
  margin-right: 10px;
}

.pictureContainer .frame p {
  background: rgba(0, 0, 0, 0.6);
  padding: 1em;
}

img {
  width: 20em;
  height: 20em;
  object-fit: contain;
  border: 1px solid white;
  background-color: black;
}
.cropImg {
  object-fit: cover;
}

.photoSettings {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: center;
}
.photoSettings button {
  margin-right: 10px;
  max-width: 50%;
  word-wrap: break-word;
  white-space: normal;
  height: auto;
  line-height: 2em;
}
.photoSettings button:last-child {
  margin-right: 0;
}

@media (max-width: 650px) {
  .intro {
    font-size: 1.2em;
    margin-top: 1.5em;
  }
  .orderText span {
    font-size: 0.7em;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}
