<section>
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one" style="margin-top: 10%;">
        <h4 class="intro">
          Hey, check out some of my pics below. You can click on any of them to
          get the full sized image :)
        </h4>
        <div class="orderText">
          <span
            >*picture order is randomized on every visit to the site using the
            Fisher-Yates Shuffle algorithm. Why? So individual visits to this
            site are a bit more unique :)</span
          >
        </div>
        <div class="photoSettings">
          <button ng-click="captions = !captions">
            Turn {{captions ? 'off' : 'on'}} captions
          </button>
          <button ng-click="crop = !crop">
            {{crop ? 'Fit full image' : 'Fit images to square'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="pageControl" id="photos">
    <button ng-click="prevPage(false)">
      <i class="fas fa-arrow-left"></i>
    </button>
    <h4>Page: {{ currentPage + 1 }}/{{ numberOfPages }}</h4>
    <button ng-click="nextPage(false)">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div class="container pictureContainer">
    <div
      ng-repeat="photo in pics | limitTo : pageSize : (pageSize * currentPage)"
    >
      <a href="{{ photo.full }}" target="_blank">
        <div class="frame">
          <img
            ng-class="{ cropImg: crop }"
            ng-src="{{ photo.thumb }}"
            ng-click="gEvent('ExternalClick', photo.full)"
          />
          <p ng-if="captions">{{ photo.desc }}</p>
        </div>
      </a>
    </div>
  </div>
  <div class="pageControl">
    <button ng-click="prevPage(true)">
      <i class="fas fa-arrow-left"></i>
    </button>
    <h4>Page: {{ currentPage + 1 }}/{{ numberOfPages }}</h4>
    <button ng-click="nextPage(true)">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</section>
