<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="mainController">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Nick Xie</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Analytics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113083884-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113083884-1');
  </script>


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="css/slick/slick.css"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="css/slick/slick.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>

  <script type="text/javascript" src="main.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/icon.png">

</head>
<body>

<!-- Menu -->
<header class="nav-down">
  <div class="row">
    <div class="four columns offset-by-four" style="margin-top: 5%">
      <ul class="mainmenu" id="menu">
        <li ng-click="scrollTo('.about')">about</li
        ><li ng-click="scrollTo('.blog')">blog</li
        ><li ng-click="scrollTo('.projects')">projects</li
        ><li ng-click="scrollTo('#contactArea')">contact</li>
      </ul>
    </div>
  </div>
</header>

<!-- Top of page header -->
<section>
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one" style="margin-top: 10%">
        <p class="bigcenter">Hi! I'm Nick.</p>
      </div>
      <div class="eight columns offset-by-two" style="margin-top: 10%">
        <img src="images/crop.jpg" class="fade" title="me">
      </div>
      <div class="six columns offset-by-three" style="margin-top: 5%">
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container">
    <div class="row">

      <!-- Left hand side of page -->
      <div class="five columns" style="margin-top: 5%">
        <div ng-include="'about.html'"></div>
        <br><br><br>
        <!-- Projects slider -->
        <h4 class="projects">projects</h4>
        <div style="text-align: center">
          <button style="height: 100%" ng-click="projectsPrev()">
            <a>
              <h2 style="margin-bottom: 0">
                <i class="fa fa-long-arrow-left fa-3x"></i>
              </h2>
            </a>
          </button>
          <span style="color: white; font-size: 1.5em;">Slide {{ projectsSlideNum }}/{{ projectsMaxSlides }}</style>
          <button style="height: 100%" ng-click="projectsNext()">
            <a>
              <h2 style="margin-bottom: 0">
                <i class="fa fa-long-arrow-right fa-3x"></i>
              </h2>
            </a>
          </button>
        </div>
        <section class="projects slider" id="projectSlider">
          <div>
            <div ng-include="'projects/avaron.html'"></div>
          </div>
        </section>
      </div>

      <!-- Right hand side of page -->
      <div class="six columns offset-by-one" id="media" style="margin-top: 5%">

        <div ng-include="'blogbio.html'"></div>

        <div class="card" ng-click="showListen = !showListen">
          <h3>Something to listen to:</h3>
          <div ng-include="'listenRecommendations/current.html'"></div>
        </div>
        <br><br><br><br>

        <div class="card" ng-click="showWatch = !showWatch">
          <h3>Something to watch:</h3>
          <div ng-include="'watchRecommendations/current.html'"></div>
        </div>
        <br><br><br><br>

        <div class="pics">
          <h3>Some photos I've taken</h3>
          <section class="photos slider" id="photoSlider">
            <div ng-repeat="photo in images">
              <p>Photo: {{ $index+1 }}/{{ images.length }}</p><hr>
              <p>{{ photo.desc }}</p>
              <a href="{{ photo.full }}" target="_blank">
                <img ng-src="{{ photo.thumb }}">
              </a>
            </div>
          </section>
          <button style="height: 100%" ng-click="photosPrev()">
            <a>
              <h2 style="margin-bottom: 0">
                <i class="fa fa-long-arrow-left fa-3x"></i>
              </h2>
            </a>
          </button>
          <button style="height: 100%" ng-click="photosNext()">
            <a>
              <h2 style="margin-bottom: 0">
                <i class="fa fa-long-arrow-right fa-3x"></i>
              </h2>
            </a>
          </button>
          <p style="color: white; margin-bottom: 0.2em; margin-top: 0.2em;">
          Click on photo to open full sized image
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section class="contact" id="contactArea">
  <div class="row" style="margin-top: 5%">
  <h4>contact</h4>
    <a href="mailto:nickxie.me@gmail.com?Subject=Hello!" target="_top">
      <h3><i class="fa fa-envelope"></i> nickxie.me@gmail.com</h3>
    </a>
    <div class="eight columns offset-by-two" style="margin-bottom: 3%">
      <!-- Buttons -->
      <ul>
        <li>
          <button>
            <a href="https://www.linkedin.com/in/nicholas-xie-351155147" target="_blank">
              <h2><i class="fa fa-linkedin-square"></i> LinkedIn</h2>
            </a>
          </button>
        </li>
        <li>
          <button>
            <a href="https://github.com/nick-xie" target="_blank">
              <h2><i class="fa fa-github"></i> Github</h2>
            </a>
          </button>
        </li>
        <li>
          <button>
            <a href="images/newresume.pdf" target="_blank">
              <h2><i class="fa fa-file-text"></i> Resume</h2>
            </a>
          </button>
        </li>
        <li>
          <button>
            <a href="https://www.youtube.com/channel/UChzu7_kN6J6ZGxrdoA9kgjw" target="_blank">
              <h2><i class="fa fa-youtube-play"></i> YouTube</h2>
            </a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Footer -->
<section class="footer">
  <div class="row">
    <div class="twelve columns" style="margin-top: 3%">
    </div>
  </div>
</section>

</body>
</html>
