<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="mainController">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Nick Xie</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Analytics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-113083884-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-113083884-1");
    </script>

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/skeleton.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />

    <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script> -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>

    <script type="module" src="main.js"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/icon.png" />
  </head>
  <body id="top">
    <base href="/" />
    <!-- Menu -->
    <header>
      <div class="mainmenu" style="margin-top: 5%;">
        <ul id="menu">
          <a
            href="/"
            ng-class="{ curMenuItem: active == 'home' }"
            ng-click="gEvent('ExternalClick','home')"
            ><li>home</li></a
          >
          <a
            href="/blog"
            target="_blank"
            ng-click="gEvent('ExternalClick','blog')"
            ><li>blog</li></a
          >
          <!-- <a href="/projects"><li>projects</li></a> -->

          <a
            href="/#/photos"
            ng-class="{ curMenuItem: active == 'photos' }"
            ng-click="gEvent('ExternalClick','photos')"
            ><li>photos</li></a
          >
          <a ng-click="scrollTo('#contactArea')"><li>contact</li></a>
        </ul>
      </div>
    </header>

    <div ng-view></div>

    <!-- Contact -->
    <section class="contact" id="contactArea">
      <div class="row" style="margin-top: 5%">
        <h4>contact</h4>
        <a href="mailto:nickxie.me@gmail.com?Subject=Hello!" target="_top">
          <h3><i class="fa fa-envelope"></i> nickxie.me@gmail.com</h3>
        </a>
        <div class="eight columns offset-by-two" style="margin-bottom: 3%">
          <!-- Buttons -->
          <ul>
            <li>
              <button ng-click="gEvent('ExternalClick','linkedin')">
                <a
                  href="https://www.linkedin.com/in/nicholas-xie"
                  target="_blank"
                >
                  <h2><i class="fab fa-linkedin"></i> LinkedIn</h2>
                </a>
              </button>
            </li>
            <li>
              <button ng-click="gEvent('ExternalClick','github')">
                <a href="https://github.com/nick-xie" target="_blank">
                  <h2><i class="fab fa-github"></i> Github</h2>
                </a>
              </button>
            </li>
            <li>
              <button ng-click="gEvent('ExternalClick','resume')">
                <a href="images/resume.pdf" target="_blank">
                  <h2><i class="fas fa-file-alt"></i> Resume</h2>
                </a>
              </button>
            </li>
            <li>
              <button ng-click="gEvent('ExternalClick','youtube')">
                <a
                  href="https://www.youtube.com/channel/UChzu7_kN6J6ZGxrdoA9kgjw"
                  target="_blank"
                >
                  <h2><i class="fab fa-youtube"></i> YouTube</h2>
                </a>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <section class="footer">
      <div class="row">
        <div class="twelve columns" style="margin-top: 3%"></div>
      </div>
    </section>
  </body>
</html>
