/* CSS declarations go here */
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }
body{
	font-family: "montserrat";
	background: #ebe8e8;
}
@font-face {
    font-family: "montserrat";
    src: url(montserrat.otf) format("opentype");
}
#main{
	background: url(house2.jpg) no-repeat center center scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#logo{
	background: url(London.jpg) no-repeat; /* logo image should say logo*/
	height: 84px;
	width: 235px;
	float: left;
}
#logo h1{
	text-indent: -10000px; /* hide text*/
}
#header{
	position: fixed;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	padding-top: 80px;
	background-color: black;
	padding-bottom: 10px;
	background: url(header2.png) no-repeat center;
	background-size: 100% 100%;
}
#tagline{
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	margin: 0;
}
#tagline h3{
	font-size: 30px;
	color: #e4dfdf;
}
/*#menu{
	float:left;
	position:relative;
	right:0%;
	text-align:right;
	display: inline-block;
	align-content: center;
	min-width: 800px;
}
ul#menu{
	padding-top: 60px;
	left:25%;
}
ul#menu li{
	list-style: none;
	float: left;
	margin: 0 auto;

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;

    background-color: #464B4D;

    font-size: 30px;
    color: white;
    text-decoration: none;
}		*/
* {margin: 0 auto; padding: 0;}
ul { display: table; width: 100%; padding-top: 60px;}
ul li { list-style-type: none; position: relative; float: left;}
ul li { background: #464B4D; color: #f62f67; display: block;
font-family: "montserrat"; padding: 10px 30px 10px 30px; text-decoration: none; }
ul li:hover { background: white; }

#menu {
    width:500px;
    margin:0 auto;

}
#menu ul li: hover{
	background: white;
}
@media only screen and (max-width : 400px) {
    ul li { 
        display:block;
        float:none;
    }
}
.picture p{
	text-align: right;
	font-size: 120px;
	padding-bottom: 40px;
	color: white;
}
/*ul#menu{
	list-style: none;
	padding-top: 55px;
	margin: auto
	width: 800px;
}
ul#menu li{
	font-size: 30px;
	color: #676666;
	text-decoration: none;
}
ul#menu li{
	float: left;
	padding-left: 30px;
	padding-right: 75px;
}*/
#content p{
	padding-top: 40px;
}
#content{
	width: 510px;
	float: left;
	font-size: 25px;
	color: #595858;
	margin-top: 250px;
}
.bio{
	line-height: 150%;
	font-size: 30px;
	text-align: left;
	 -webkit-text-stroke: 1px #464B4D;
	color: white;
}
.me{
	opacity: 0;
	padding-right: 30px;
}
.fade{
	opacity: 0;
}
#news{
	padding-top: 30px;
}
h3{
	padding-bottom: 20px;
}
h4{
	padding-bottom: 20px;
}
#sidebar{
	float: left;
	margin-left: 55px;
	margin-top: 55px;
	margin-top: 280px;
}
#sidebar ul{
	list-style: none;
	padding-bottom: 25px;
}
#sidebar ul li a {
    font-size: 14px;
    color: #393838; 
}
ul#subscribe li {
    padding-bottom: 5px;
    padding-left: 30px;
}
 
ul#subscribe li a {
    font-size: 18px; 
}
#footer{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	font-size: 10px;
	color: #676666;
	text-decoration: none;
	background-color: #464B4D;
}
#footer a{
	line-height: 30px;
}
.container{
	width: 1000px;
	margin: 0 auto;
}